html, body{
    height:100%;
}

#loginForm {
    min-width: 400px;
    max-width: 750px;
    padding: 25px 35px;
    margin: 0 auto;
    background-color: #e1e1e14f;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}